<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Title</title>
</head>
<body>
    <div class='container'>
        <h1>Header</h1>
        <p>paragraph</p>
        <form action='/view_template'>
            <div class='form-group'>
              <label for='formInput'>Input:</label>
              <input id='formInput' name='formInput' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn-success'>Translate</button>
        </form>
    </div>
</body>
</html>